body {
    background-color: rgb(75, 70, 70);
    width: 500px;
    margin: 0 auto;
  }
  
  p {
    background: rgba(255,84,104,0.3);
    border: 2px solid rgb(255,84,104);
    padding: 10px;
    margin: 10px;
  }
  
  span {
    background: white;
    border: 1px solid black;
  }
  
  .container{
    height: 250px;
    width: 150px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    
    justify-content: center;
    
    gap: 8px;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    flex-flow: row-reverse nowrap;
    
    /* align-items: center; */

  }
  .item{
  
    /* flex-grow: 1; */
    color: black;
    font-weight: 700;
    width: 60px;
    height: 60px;
    border: 4px solid yellow;
    background: skyblue;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

  }
  .one {
    background-color: rgb(47, 0, 255);
    border: 5px solid blue;
    grid-column: 1 /3;
    grid-row: 1;
  }
  .two {    background-color: rgba(121, 121, 28, 0.322);
    
    border: 5px solid rgb(130, 158, 6);
    grid-column: 2 / 4 ;
    grid-row: 1 / 3;
  }
  .three {
    background-color: rgb(101, 209, 29);
    border: 5px solid blue;
    grid-column: 1;
    grid-row: 2 / 5;
  }
  .four {
    background-color: rgb(243, 61, 29);
    border: 5px solid blue;
    grid-column: 3;
    grid-row: 3;
  }
  .five {
    background-color: rgba(248, 141, 0, 0.685);
    border: 5px solid rgba(248, 141, 0, 0.685);
    grid-column: 2;
    grid-row: 4;
  }
  .six {
    background-color: rgba(243, 29, 243, 0.459);
    border: 5px solid rgba(243, 29, 243, 0.459);
    grid-column: 3;
    grid-row: 4;
  }

  .wrapper2 {
    display: flex;
    border: 5px dotted rgb(220, 255, 20);
  }
  
  label {
    color: #B4886B;
    background-color: beige;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    }
    label:after { content: ": " }
    
    
  
  .wrapper2 input[type="text"] {
    height: auto;
    margin-left: 20px;
      flex: 1 1 auto;
    }
  
  